# Don't share and old versions of files
*old.*

# Ignore these directories
bin/
include/
lib/
local/
tmp/
temp/

Include/
Lib/
Scripts/
tcl/
etc/
share/

# Ignore dev environment project files
*.vscode
*.sublime-project
*.sublime-workspace

# Ignore gitattributes
.gitattributes

# Ignore the pip-selfcheck
pip-selfcheck.json

# Ignore .pyc files
*.pyc

# Ignore venv files
pyvenv.cfg

# Ignore my notes
voices.txt

# Ignore credentials
token.json
modules/*.json

# Ignore misc phrase files, but include default phrases
phrases/*
!phrases/phrases.json

# Ignore logfiles
logs/*
*.log

# Ignore delete_requests & container
privacy/*